{% extends "base.jinja" %}
{% block title %}Add seller{% endblock%} 
{% block body %}


    <h1>Crear vendedor</h1>
    <h3>Ingresar datos</h3>
    <form action="/admin/add_seller" method="post">

        
        <input type = "text" name="user" placeholder="Usuario a crear">
        <input type = "password" name="password" placeholder="Ingresa la contraseña">
        <input type = "password" name="pass_check" placeholder="Verifica la contraseña">

        <button>Crear</button>
    </form>
    {{message}}
    <br/>
    <h2><a href="/admin/">Regresar</a></h2>
{% endblock %}
