{% extends "base.jinja" %}
{% block title %}Administrador{% endblock %}
{% block body %}
    <!-- aqui el login del admin -->

    <div class="container p-5">
        <div class="row">

            <div class="col text-start">
                <h1 >Soy Admin</h1>
            </div>
            <div class="col"></div>
            <div class="col text-end">
                <h2><a href="/" class="btn btn-danger btn-lg">Home</a></h2>
            </div>
        </div>
    </div>
    <div class="container text-center p-5">
        <h2><a href="/admin/add_seller" class="btn btn-primary btn-lg">Agregar vendedor</a></h2>
        <h2><a href="/admin/add_product" class="btn btn-primary btn-lg">Agregar producto</a></h2>
        <h2><a href="/admin/list_products" class="btn btn-primary btn-lg">Listar productos</a></h2>
        <h2><a href="/admin/search" class="btn btn-primary btn-lg">Buscar y editar productos</a></h2>
        <h2><a href="/admin/update_user" class="btn btn-primary btn-lg">Modificar usuarios</a></h2>
    </div>
{% endblock %}