{% extends "base.jinja" %} 
{% block title %}login admin{% endblock %} 
{% block body %}
    <!-- aqui el login del admin -->
    <h1>soy admin</h1>
    <h2><a href="/">home</a></h2>
    <h2><a href="/admin/add_seller">Agregar vendedor</a></h2>
    <h2><a href="/admin/add_product">Agregar producto</a></h2>
    <h2><a href="/admin/list_products">Listar productos</a></h2>
    <h2><a href="/admin/search">Buscar y editar productos</a></h2>
    <h2><a href="/admin/update_user">Modificar Usuarios</a></h2>
{% endblock %}