{% extends "base.jinja" %} 
{% block title %}login admin{% endblock %} 
{% block content %}
    <!-- aqui el login del admin -->
    <h1>soy admin</h1>
    <h2><a href="{{ home_page }}">home</a></h2>
    <h2><a href="{{ add_seller }}">Agregar vendedor</a></h2>
{% endblock %}