{% extends "base.jinja" %} 
{% block title %}Home{% endblock %} 
{% block content %}
    <div>
        <h1><a href= "{{ admin }}"> Ingresar Admin</a></h1>
        <h1><a href= "{{ seller }}"> Ingresar Vendedor</a></h1>
    </div>
{% endblock %}