{% extends "base.jinja" %}
{% block title %}Products{% endblock %}
{% block body %}
    {# {% if roles|length > 0 %} #}
    {# {% if roles[0]|length == 4 %} #}
    <body>
        <table class="table table-bordered content-center" style="width: 50%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del producto</th>
                    <th>Cantidad en stock</th>
                    <th>Precio por unidad</th>
                </tr>
            </thead>
            <tbody>
                {% for data in rows %}
                    <tr>
                        <td>{{data.product_id}}</td>
                        <td>{{data.product_name}}</td>
                        <td>{{data.product_amount}}</td>
                        <td>{{data.product_price}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    <a href="/admin/">
        <button type="button" class="btn btn-primary">Regresar</button>
    </a>

{% endblock %}