{% extends "base.jinja" %}
{% block title %}Vendedor{% endblock %}
{% block body %}
    <<div class="container p-5">
        <div class="row">

            <div class="col text-start">
                <h1 >Soy Vendedor</h1>
            </div>
            <div class="col"></div>
            <div class="col text-end">
                <h2><a href="/" class="btn btn-danger btn-lg">Home</a></h2>
            </div>
        </div>
    </div>
    <div class="container text-center p-5">
        <h2><a href="/seller/add_sale" class="btn btn-primary btn-lg">Registrar venta</a></h2>
    </div>
{% endblock %}