{% extends "base.jinja" %} 
{% block title %}Vendedor{% endblock %} 
{% block body %}
    <h1>Vendedor</h1>
    <h2><a href="/">Inicio</a></h2>
    <h2><a href="/seller/add_sale">Registrar venta</a></h2>
{% endblock %}