{% extends "base.jinja" %} 
{% block title %}login vendedor{% endblock %} 
{% block content %}
     <!-- aqui el login del vendedor -->
    <h1>soy vendedor</h1>
    <h2><a href="{{ home_page }}">home</a></h2>
{% endblock %}