{% extends "base.jinja" %} 
{% block title %}Home{% endblock %} 
{% block body %}
    {# {% if roles|length > 0 %} #}
    {# {% if roles[0]|length == 4 %} #}

    {% for data in rows %}
        <h4>{{data}}</h4>
    {% endfor %}

    <h2><a href="/admin/">Regresar</a></h2>

{% endblock %}  