{% extends "base.jinja" %}
{% block title %}Modify users{% endblock %}
{% block body %}
    {# {% if roles|length > 0 %} #}
    {# {% if roles[0]|length == 4 %} #}
<div class="">
    <table class="table table-striped ">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">Rol</th>
                <th scope="col">Estado Cuenta</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td scope="row">{{user.user_name}}</td>

                    {% if user.user_role == 0 %}
                    <td>Administrador</td>
                    {% else %}
                    <td>Vendedor</td>
                    {% endif %}

                    {% if user.user_state == 0 %}
                    <td>Desactivada</td>
                    {% else %}
                    <td>Activada</td>
                    {% endif %}

                    <td>
                        <a href="{{ url_for('admin.delete_user', id = user.user_id)}}">Activar / Desactivar</a>

                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

    <h2><a href="/admin/">Regresar</a></h2>

{% endblock %}